body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

.logo {
    float: left;
}

header {
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 50px;
}

header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav li {
    margin-right: 20px;
}

header nav li:last-child {
    margin-right: 0;
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px 20px 0 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    header img {
        margin-right: 0px;
        margin-bottom: 10px;
    }

    header nav ul {
        margin: 0;
        padding: 0;
    }

    header nav li {
        margin-right: 10px;
    }

    main {
        font-size: 18px;
        padding: 10px;
    }

    footer {
        font-size: 14px;
        padding: 10px;
    }

    .container {
        max-width: 100%;
        padding: 0 10px;
    }
}
